---
import Base from "../../layouts/base.astro";

import CartAdd from "../../components/astro/icon-cart-add.astro";
import Cart from "../../components/astro/icon-cart.astro";
import Modal from "../../components/astro/modal.astro";
import Plus from "../../components/astro/icon-plus-.astro";
import Remove from "../../components/astro/icon-remove.astro";
---

<style lang="scss" is:global>
    #products-list {

        button {
            width: 5rem;
            height: 5rem;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(auto-fit, 31rem);
            justify-content: center;
            gap: 1rem 1rem;

            li {
                box-shadow: 0px 0px 10px -3px #1e3a8a;
            }
        }
    }

    #cart {

        button {

            .svg-box {

                max-width: 5rem;
                max-height: 5rem;
            }
        }
    }

    #cart-modal {

        #cart-products-list {

            button {
                max-width: 3rem;
                max-height: 3rem;
            }

            li:last-child {
                border: unset;
            }
        }
    }

    .animate__animated {
        animation-duration: 1s;
        animation-fill-mode: both;
    }

    @keyframes jello {
        from,
        11.1%,
        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        22.2% {
            -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
            transform: skewX(-12.5deg) skewY(-12.5deg);
        }

        33.3% {
            -webkit-transform: skewX(6.25deg) skewY(6.25deg);
            transform: skewX(6.25deg) skewY(6.25deg);
        }

        44.4% {
            -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
            transform: skewX(-3.125deg) skewY(-3.125deg);
        }

        55.5% {
            -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
            transform: skewX(1.5625deg) skewY(1.5625deg);
        }

        66.6% {
            -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
            transform: skewX(-0.78125deg) skewY(-0.78125deg);
        }

        77.7% {
            -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
            transform: skewX(0.390625deg) skewY(0.390625deg);
        }

        88.8% {
            -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
            transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        }
    }

    .animate__jello {
        animation-name: jello;
        transform-origin: center;
    }

</style>

<script>
    import loader from '../../js/loader.js';
    loader('cart-page');
</script>

<Base>

    <!-- page-box -->
    <div id="cart-page" class="pb-56">

        <!-- products list -->
        <div id="products-list" class="max-w-lg mx-auto" x-data='products'>

            <ul class="p-4 font-ssp">
                <template x-for="(item, index) in items" x-key="index">
                    <li class="p-4">
                        <img src="/350x450.png" alt="">
                        <h1 class="mt-4 text-6xl text-blue-900 font-mont font-bold capitalize" x-text="item.name"></h1>
                        <h2 class="mt-8 text-4xl font-regular">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h2>
                        <p class="mt-4 text-4xl font-bold" x-text="'$' + ' ' + item.price"></p>
                        <div class="ctrl mt-8 flex justify-end">
                            <button type="button" @click="$store.cart.add(item)">
                                <CartAdd fill="#1e3a8a" />
                            </button>
                        </div>
                    </li>
                </template>
            </ul>

        </div>
        <!-- products list -->

        <!-- the cart -->
        <div
            id="cart" 
            class="flex flex-col items-end fixed z-30 bottom-0 right-0"
            x-data="cart_container"
        >

            <button 
                type="button" 
                class="capitalize text-4xl font-ssp font-bold
                rounded-xl
                mx-8 p-2
                bg-blue-900 text-white
                border-2 border-blue-900
                disabled:opacity-50"
                @click="submit()"
                x-show="open"
                x-bind:disabled="$store.cart.items.length === 0"
            >
                submit cart
            </button>

            <button
                type="button"
                class="font-ssp
                rounded-xl
                mx-8 my-4 
                flex items-center
                bg-blue-900 text-white
                border-2 border-blue-900"
                @click="toggle()"
            >
                <div 
                    class="p-4
                    rounded-tl-xl rounded-bl-xl
                    bg-white
                    text-blue-900
                    flex items-center justify-center"
                >
                    <span class="text-6xl font-bold" x-text="$store.cart.count"></span>
                    <span class="text-6xl mx-2">x</span>
                    <div class="svg-box animate__animated" x-ref="cartBox">
                        <Cart fill="#1e3a8a" />
                    </div>
                </div>
                <div class="flex items-center text-center px-4">
                    <span class="inline-block text-6xl font-bold">$</span>
                    <span class="inline-block text-6xl font-bold" x-text="$store.cart.total"></span>
                </div>
            </button>

            <!-- cart modal -->
            <template x-teleport="body">
                <Modal modalId="cart-modal" contentClasses="pb-60">
                    <h1 id="cart-is-empty" class="font-ssp text-white text-4xl font-bold capitalize text-center" x-show="$store.cart.items.length === 0">cart is empty.</h1>
                    <div id="submitted-box" class="text-center py-8" x-show="$store.cart.items.length > 0 && submitted">
                        <h1 class="font-ssp text-white text-5xl font-bold capitalize text-center">order was sent.</h1>
                        <button 
                            type="button" 
                            class="capitalize text-4xl font-ssp font-bold
                            rounded-xl
                            mx-8 mt-4 p-2
                            bg-white text-blue-900
                            border-2 border-blue-900"
                            @click="submitted = false"
                        >
                            continue
                        </button>
                    </div>
                    <ul id="cart-products-list" class="font-ssp" x-show="$store.cart.items.length > 0 && !submitted">
                        <template x-for="(item, index) in $store.cart.items" x-key="index">
                            <li class="p-4 my-12 text-white border-b border-white">
                                <div class="text-6xl font-bold capitalize" x-text="item.name"></div>
                                <div class="font-mont mt-4 text-4xl text-center font-bold" x-text="item.count + ' for ' + ' $ ' + item.total"></div>
                                <div class="mt-4 flex justify-around max-w-xs mx-auto">
                                    <button type="button" @click="$store.cart.remove(item.id)">
                                        <Remove fill="white" />
                                    </button>
                                    <button type="button" @click="$store.cart.add(item)">
                                        <Plus fill="white" />
                                    </button>
                                </div>
                            </li>
                        </template>
                    </ul>
                </Modal>
            </template>
            <!-- cart modal -->

        </div>
        <!-- the cart -->

    </div>
    <!-- page-box -->

</Base>
