---
import Base from "../../layouts/base.astro";
---
<style lang="scss" is:global></style>
<script>
    import loader from '../../js/loader';
    loader('lazy-loading-page');
</script>
<Base>
    <div x-data id="lazy-loading-page" class="h-full">

        <section class="p-8 h-full flex items-center justify-center">
            <img 
                class="opacity-0 transition-opacity duration-300 ease-linear" 
                src=""
                data-img="https://via.placeholder.com/650x450"
                x-intersect="$el.load = ()=> $el.classList.add('opacity-100');
                $el.src = $el.dataset.img;"
            />
        </section>
        <section class="p-8 h-full flex items-center justify-center">
            <img 
                class="opacity-0 transition-opacity duration-300 ease-linear" 
                src=""
                data-img="https://via.placeholder.com/650x450"
                x-intersect="$el.load = ()=> $el.classList.add('opacity-100');
                $el.src = $el.dataset.img;"
            />
        </section>
        <section class="p-8 h-full flex items-center justify-center">
            <img 
                class="opacity-0 transition-opacity duration-300 ease-linear" 
                src=""
                data-img="https://via.placeholder.com/650x450"
                x-intersect="$el.load = ()=> $el.classList.add('opacity-100');
                $el.src = $el.dataset.img;"
            />
        </section>
        <section class="p-8 h-full flex items-center justify-center">
            <img 
                class="opacity-0 transition-opacity duration-300 ease-linear" 
                src=""
                data-img="https://via.placeholder.com/650x450"
                x-intersect="$el.load = ()=> $el.classList.add('opacity-100');
                $el.src = $el.dataset.img;"
            />
        </section>

    </div>
</Base>
