<script>
    import loader from "../../js/loader";

    window.onload = () => loader('select-with-filter');
</script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>select with filter</title>
</head>
<body>
    <div id="list" x-data="selectWithFilter">
        <div 
            id="list-box" 
            class="flex items-center max-h-[2rem] cursor-pointer"
            @click="toggle"
        >
            <div 
                id="current-item"
                x-text="value"
            ></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 320 510">
                <path d="M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z"/>
            </svg>
        </div>
        <div id="list-items" x-show="open">
            <input type="text" />
            <ul>
                <li class="cursor-pointer" @click="selectCat('category 1')">category 1</li>
                <li class="cursor-pointer" @click="selectCat('category 2')">category 2</li>
                <li class="cursor-pointer" @click="selectCat('category 3')">category 3</li>
                <li class="cursor-pointer" @click="selectCat('category 4')">category 4</li>
                <li class="cursor-pointer" @click="selectCat('category 5')">category 5</li>
            </ul>
        </div>
    </div>
</body>
</html>