<script>
    import loader from "../../js/loader";

    window.onload = () => loader('select-with-filter');
</script>
<style lang="scss">
    html {
        font-size: 62.5%;
    }

    html, body, main {
        height: 100%;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>select with filter</title>
</head>
<body>

    <main class="flex items-center justify-center">

        <div id="page-layout">

            <div id="list" x-data="selectWithFilter">
                <div
                    id="list-box"
                    class="text-4xl capitalize font-bold 
                    p-8 
                    flex items-center 
                    max-h-[2rem] 
                    border-2 border-black rounded-2xl cursor-pointer"
                    @click="toggle"
                >
                    <div
                        id="current-item"
                        class="mr-4"
                        x-text="value"
                    ></div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 320 510">
                        <path d="M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z"/>
                    </svg>
                </div>
                <template x-teleport="body">

                    <div 
                        id="list-items-modal"
                        class="bg-[#000000d1]
                        absolute inset-0
                        grid items-center overflow-auto"
                        x-show="open"
                        x-transition
                    >
                    
                        <div id="modal-box" class="px-4 py-8 flex flex-col justify-center">
                            <input 
                            class="w-full 
                            p-4 mb-12 
                            text-8xl font-bold 
                            border-4 border-black rounded-2xl
                            placeholder:capitalize"
                            type="text"
                            placeholder="search categories" 
                            x-ref="catInput" 
                            @input="searchingValue = $el.value" />
                            <ul class="text-6xl text-white text-center capitalize">
                                <template x-for="cat in filteredCates">
                                    <li
                                        class="py-4 hover:font-bold cursor-pointer"
                                        @click="selectCat(cat.value)"
                                        x-text="cat.text"
                                    ></li>
                                </template>
                            </ul>
                        </div>

                    </div>

                </template>
            </div>
        </div>
    </main>
</body>
</html>