---
import Base from "../../layouts/base.astro";
---
<script>
    import loader from '../../js/loader';

    loader('tabs-page');
</script>
<Base>
    
    <div id="page-layout" class="h-full max-w-screen-md mx-auto p-2 grid items-center overflow-auto">

        <div id="page-layout-box" class="flex flex-col">

            <div x-data="tabs" class="w-full max-w-sm mx-auto">

                <ul class="text-4xl capitalize flex -mb-[0.1rem] relative z-10">
                    <li data-tab="1"
                        class="text-white bg-black p-4 rounded-t-3xl cursor-pointer"
                        :class="$el.getAttribute('data-tab') == current?'!text-black font-bold !bg-green-500 border border-black border-b-0':''"
                        @click="changeTab(1)">Green</li>
                    <li data-tab="2"
                        class="text-white bg-black p-4 rounded-t-3xl cursor-pointer"
                        :class="$el.getAttribute('data-tab') == current?'!text-black font-bold !bg-yellow-500 border border-black border-b-0':''"
                        @click="changeTab(2)">Yellow</li>
                    <li data-tab="3"
                        class="text-white bg-black p-4 rounded-t-3xl cursor-pointer"
                        :class="$el.getAttribute('data-tab') == current?'!text-black font-bold !bg-pink-500 border border-black border-b-0':''"
                        @click="changeTab(3)">Pink</li>
                </ul>
        
                <div class="text-4xl leading-[3rem] border border-black rounded-b-xl rounded-tr-xl relative overflow-hidden">
                    <div 
                        :class="current == 1?'':'absolute top-0'" 
                        class="bg-green-500 p-8" 
                        x-show="current == 1" 
                        x-transition:enter="transition ease-out duration-1000"
                        x-transition:enter-start="opacity-0"
                        x-transition:enter-end="opacity-100"
                        x-transition:leave="transition ease-in duration-300"
                        x-transition:leave-start="opacity-100"
                        x-transition:leave-end="opacity-0"
                    >
                        1 conent tab 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, praesentium.
                    </div>
                    <div 
                        :class="current == 2?'':'absolute top-0'" 
                        class="bg-yellow-500 p-8" 
                        x-show="current == 2" 
                        x-transition:enter="transition ease-out duration-1000"
                        x-transition:enter-start="opacity-0"
                        x-transition:enter-end="opacity-100"
                        x-transition:leave="transition ease-in duration-300"
                        x-transition:leave-start="opacity-100"
                        x-transition:leave-end="opacity-0"
                    >
                        2 conent tab 2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, praesentium.
                    </div>
                    <div 
                        :class="current == 3?'':'absolute top-0'" 
                        class="bg-pink-500 p-8" 
                        x-show="current == 3" 
                        x-transition:enter="transition ease-out duration-1000"
                        x-transition:enter-start="opacity-0"
                        x-transition:enter-end="opacity-100"
                        x-transition:leave="transition ease-in duration-300"
                        x-transition:leave-start="opacity-100"
                        x-transition:leave-end="opacity-0"
                    >
                        3 conent tab 3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, praesentium.
                    </div>
                </div>

            </div>

        </div>

    </div>

</Base>