---
import Base from "../../layouts/base.astro";
---
<Base>
    
    <div>
        <div>test 1</div>
        <div>test 2</div>
        <div>test 3</div>
    </div>

    <div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, praesentium.</div>
    </div>
    <div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, praesentium.</div>
    </div>
    <div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, praesentium.</div>
    </div>

</Base>