---
---
<h1 
    class="bg-black
    w-full
    p-4
    font-mont font-bold text-6xl text-white capitalize
    fixed left-0 top-0"
>
    <div class="max-w-md mx-auto">
        <slot></slot>
    </div>
</h1>