---
import Base from "../../layouts/base.astro";

import ContainerCenterScroll from "../../components/astro/container-center-scroll.astro";
---
<script>
    import '../../js/vue/count-down-timer';
</script>
<style lang="scss" is:global>

    #form-box, #reset-counting, #form-feedback {

        input::placeholder, input, button, p {
            font-size: clamp(24px, calc(1.5rem + ((1vw - 3.2px) * 6.25)), 52px);
        }
    }

    #counters-row {
        display: grid;
        grid-template-columns: 1fr min-content 1fr min-content 1fr min-content 1fr;
        align-items: center;
        justify-items: center;

        .counter-circle {
            height: 18vw;
            width: 18vw;
            max-width: 15rem;
            max-height: 15rem;

            &, span {
                min-height: 0vw;
                font-size: clamp(24px, calc(1.5rem + ((1vw - 3.2px) * 8.9286)), 64px);
            }
        }
    }

    .fade-enter-from, .fade-leave-to {
        opacity: 0;
        position: absolute;
        top:0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .fade-enter-active, .fade-leave-active  {
        transition: opacity 0.3s ease-in-out;
    }

</style>
<Base>

    <ContainerCenterScroll>

        <div id="app" class="overflow-hidden"></div>

    </ContainerCenterScroll>

</Base>