---
import Base from "../../layouts/base.astro";

import ContainerCenterScroll from "../../components/astro/container-center-scroll.astro";
---
<script>
    import '../../js/vue/quiz-app';
</script>
<style lang="scss" is:global>
    .p-progressbar {
        background-color: black;
        height: 1rem;
        border-radius: 5rem;
        display: flex;
        align-items: center;
    }
    .p-progressbar-determinate .p-progressbar-value {
        background-color: white;
        height: 0.2rem;
        transition-duration: 1s;
        transition-timing-function: linear;
        position: unset;
    }

    .animate__animated {
        animation-duration: 1s;
        animation-fill-mode: both;
    }
    .animate__tada {
        -webkit-animation-name: tada;
        animation-name: tada;
    }
    @keyframes tada {
        from {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

        10%,
        20% {
            -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        }

        30%,
        50%,
        70%,
        90% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        }

        40%,
        60%,
        80% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        }

        to {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }

    .fade-enter-from, .fade-leave-to {
        opacity: 0;
    }
    .fade-enter-from, .fade-leave-to {

        &.animation-box {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .fade-enter-active, .fade-leave-active  {
        transition: opacity 0.3s ease-in-out;
    }
</style>
<Base>

    <ContainerCenterScroll>

        <div id="app" class="w-full max-w-md mx-auto"></div>

    </ContainerCenterScroll>

</Base>