---
import Base from "../../layouts/base.astro";

import ContainerCenterScroll from "../../components/astro/container-center-scroll.astro";
import TransitionsAndAnimations from "../../components/vue/transitions-and-animations/index.vue";
---
<style lang="scss" is:global></style>
<Base>

    <div id="interactive-cheat-sheet">

        <ContainerCenterScroll>
        
            <TransitionsAndAnimations client:only></TransitionsAndAnimations>
        
        </ContainerCenterScroll>

    </div>

</Base>