---
import Base from "../../layouts/base.astro";

import ContainerCenterScroll from "../../components/astro/container-center-scroll.astro";
---
<style lang="scss" is:global></style>
<script>
    import "../../js/vue/transitions-and-animations";
</script>
<Base>

    <div id="interactive-cheat-sheet">

        <ContainerCenterScroll>
        
            <div id="app"></div>
        
        </ContainerCenterScroll>

    </div>

</Base>