---
import Base from "../layouts/base.astro";
---

<Base title="the blog">
	<main class="h-full grid content-center">
		<div 
			class="page-box
			py-8
			bg-black
			h-full 
			flex flex-col justify-start
			overflow-y-auto"
		>
			<div class="max-w-md mx-auto p-4 text-white">
				<h1 class="font-mont font-bold text-8xl capitalize">andrew saeed zachary</h1>
				<h2 class="font-ssp font-regular text-6xl capitalize">frontend web developer | freelancer</h2>
				<a
					href="https://github.com/andrew-zachary"
					class="btn-icon-txt
					text-white
					mt-8
					border border-black rounded-2xl
					flex justify-start items-center"
				>
					<img class="bg-white border border-white rounded-full w-16" src="https://www.svgrepo.com/show/378420/github-fill.svg" alt="source code">
					<p class="text-5xl font-ssp font-regular mx-8">{`<github />`}</p>
				</a>
				<a
					href="https://twitter.com/andrewzach"
					class="btn-icon-txt
					text-white
					mt-8
					border border-black rounded-2xl
					flex justify-start items-center"
				>
					<img class="bg-white border border-white rounded-full w-16" src="https://www.svgrepo.com/show/138536/twitter-social-logotype.svg" alt="twitter">
					<p class="text-5xl font-ssp font-regular mx-8">{`<twitter />`}</p>
				</a>
				<a
				href="https://dev.to/andrewzach"
				class="btn-icon-txt
				text-white
				mt-8
				border border-black rounded-2xl
				flex justify-start items-center"
				>
					<img class="bg-white border border-white rounded-full w-16" src="https://www.svgrepo.com/show/349334/dev-to.svg" alt="dev.to">
					<p class="text-5xl font-ssp font-regular mx-8">{`<dev.to />`}</p>
				</a>
			</div>
		</div>
	</main>
</Base>
