---
import Base from "../layouts/base.astro";
---

<Base title="welcome to my labs">
	<main class="h-full grid justify-center content-center">
		<div 
			id="page-box"
			class="border-4 border-black rounded-2xl"
		>
			<a
				id="btn-icon-txt"
				class="py-8 px-4 font-bold
				flex justify-between items-center"
				href="https://github.com/andrew-zachary"
			>
				<img class="bg-white border border-white rounded-full w-16 mr-8" src="/github.svg" alt="source code">
				<p class="text-5xl font-ssp font-regular">{`<github />`}</p>
			</a>
		</div>
	</main>
</Base>
