---
import langs from '../../../../data/meta.json';

import Base from "../../../../layouts/base.astro";

import Title from "../../../../components/title.astro";
import ContainerCenterScroll from "../../../../components/container-center-scroll.astro";

const posts = await Astro.glob('../../../../data/*.mdx');

export function getStaticPaths() {
    const paths = Object.keys(langs).map(lang => {
        return {
            params: {lang: langs[lang]['name']}, 
            props: {dir: langs[lang]['dir']}
        }
    });
    return paths;
};

const {lang} = Astro.params;
const {dir} = Astro.props;
const translation = {
    'en': {
        title: 'posts'
    },
    'ar': {
        title: 'مقالات'
    }
};
---
<Base lang={lang} dir={dir}>
    <Title>{translation[lang]['title']}</Title>
    <ContainerCenterScroll>
        <ul class="p-4 w-full max-w-md mx-auto">
            {
                posts.map( post => {
                    return <li class="mt-8">
                        <h1 class="font-mont font-bold text-6xl capitalize">
                            <a href={`posts/${post['content'][lang].slug}`}>{post['content'][lang].title}</a>
                        </h1>
                        <h2 class="font-ssp font-regular text-4xl mt-4">{post['content'][lang].description}</h2>
                    </li>
                })
            }
        </ul>
    </ContainerCenterScroll>
</Base>