<script>
    import animatedBlocks from "../../js/animated-blocks";

    window.onload = animatedBlocks();
</script>
<style lang="scss">
    html, body {
        height: 100%;
    }

    html {
        font-size: 62.5%;
    }

    #swiper-layout {
        max-width: 30rem;
        position: relative;

        .swiper {
            width: 100%;
            height: 60rem;
        }

        @media screen and (min-width: 768px) {
            max-width: 60rem;

            .swiper-button-prev {
                left: -5rem;
            }

            .swiper-button-next {
                right: -5rem;
            }
        }

        @media screen and (min-width: 1200px) {
            max-width: 90rem;
        }

        @media screen and (min-width: 1366px) {
            max-width: 120rem;
        }
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated blocks</title>
</head>
<body>

    <div class="grid justify-center items-center h-full overflow-auto">
        
        <div class="flex flex-col">

            <div id="swiper-layout">

                <div class="swiper">

                    <div class="swiper-wrapper text-6xl">

                        <div class="swiper-slide ab-col h-[60rem] w-[30rem] border border-black overflow-hidden">
                            <div class="ab-col-blocks ab-col-top
                                relative
                                flex justify-center items-center
                                w-[30rem] h-[30rem] 
                                transition-[height] duration-500 
                                bg-black
                                overflow-hidden"
                            >
                                <img src="/bmw.png" alt="bmw logo" 
                                class="car absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] opacity-0 transition-[opacity] duration-500"/>   
                                <div class="logo 
                                    relative
                                    p-28
                                    rounded-full
                                    transition-[opacity] duration-500"
                                >
                                    <img src="/bmw-logo.svg" alt="bmw logo"
                                    class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]" />
                                </div>
                            </div>
                            <div class="ab-col-blocks
                                relative
                                flex justify-center items-center
                                w-[30rem] h-[30rem] 
                                transition-[height] duration-500 
                                bg-yellow-500
                                overflow-hidden"
                            >
                                <img src="/jeep.png" alt="bmw logo" 
                                class="car absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] opacity-0 transition-[opacity] duration-500"/>   
                                <div class="logo 
                                    relative
                                    p-28
                                    rounded-full
                                    transition-[opacity] duration-500"
                                >
                                    <img src="/jeep-logo.svg" alt="bmw logo"
                                    class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]" />
                                </div>
                            </div>
                        </div>
        
                        <div class="swiper-slide ab-col h-[60rem] w-[30rem] border border-black overflow-hidden">
                            <div class="ab-col-blocks ab-col-top
                                relative
                                flex justify-center items-center
                                w-[30rem] h-[30rem] 
                                transition-[height] duration-500 
                                bg-red-700
                                overflow-hidden"
                            >
                                <img src="/ferrari.jpg" alt="ferrari car" 
                                class="car absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] opacity-0 transition-[opacity] duration-500"/>   
                                <div class="logo 
                                    relative
                                    p-28
                                    rounded-full
                                    transition-[opacity] duration-500"
                                >
                                    <img src="/ferrari-logo.svg" alt="ferrari logo"
                                    class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]" />
                                </div>
                            </div>
                            <div class="ab-col-blocks
                                relative
                                flex justify-center items-center
                                w-[30rem] h-[30rem] 
                                transition-[height] duration-500 
                                bg-[#C3C3C3]
                                overflow-hidden"
                            >
                                <img src="/fiat.jpg" alt="bmw logo" 
                                class="car absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] opacity-0 transition-[opacity] duration-500"/>   
                                <div class="logo 
                                    relative
                                    p-28
                                    rounded-full
                                    transition-[opacity] duration-500"
                                >
                                    <img src="/fiat-logo.svg" alt="bmw logo"
                                    class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]" />
                                </div>
                            </div>
                        </div>
        
                        <div class="swiper-slide ab-col h-[60rem] w-[30rem] border border-black overflow-hidden">
                            <div class="ab-col-blocks ab-col-top
                                relative
                                flex justify-center items-center
                                w-[30rem] h-[30rem] 
                                transition-[height] duration-500 
                                bg-[#003478]
                                overflow-hidden"
                            >
                                <img src="/ford.png" alt="bmw logo" 
                                class="car absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] opacity-0 transition-[opacity] duration-500"/>   
                                <div class="logo 
                                    relative
                                    p-28
                                    rounded-full
                                    transition-[opacity] duration-500"
                                >
                                    <img src="/ford-logo.svg" alt="bmw logo"
                                    class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]" />
                                </div>
                            </div>
                            <div class="ab-col-blocks
                                relative
                                flex justify-center items-center
                                w-[30rem] h-[30rem] 
                                transition-[height] duration-500 
                                bg-white
                                overflow-hidden"
                            >
                                <img src="/isuzu.jpg" alt="bmw logo" 
                                class="car absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] opacity-0 transition-[opacity] duration-500"/>   
                                <div class="logo 
                                    relative
                                    p-28
                                    rounded-full
                                    transition-[opacity] duration-500"
                                >
                                    <img src="/isuzu-logo.svg" alt="bmw logo"
                                    class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]" />
                                </div>
                            </div>
                        </div>
        
                        <div class="swiper-slide ab-col h-[60rem] w-[30rem] border border-black overflow-hidden">
                            <div class="ab-col-blocks ab-col-top
                                relative
                                flex justify-center items-center
                                w-[30rem] h-[30rem] 
                                transition-[height] duration-500 
                                bg-[#F7DE9F]
                                overflow-hidden"
                            >
                                <img src="/lambo.png" alt="bmw logo" 
                                class="car absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] opacity-0 transition-[opacity] duration-500"/>   
                                <div class="logo 
                                    relative
                                    p-28
                                    rounded-full
                                    transition-[opacity] duration-500"
                                >
                                    <img src="/lambo-logo.svg" alt="bmw logo"
                                    class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]" />
                                </div>
                            </div>
                            <div class="ab-col-blocks
                                relative
                                flex justify-center items-center
                                w-[30rem] h-[30rem] 
                                transition-[height] duration-500 
                                bg-[#9f001b]
                                overflow-hidden"
                            >
                                <img src="/kia.jpg" alt="bmw logo" 
                                class="car absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] opacity-0 transition-[opacity] duration-500"/>   
                                <div class="logo 
                                    relative
                                    p-28
                                    rounded-full
                                    transition-[opacity] duration-500"
                                >
                                    <img src="/kia-logo.svg" alt="bmw logo"
                                    class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]" />
                                </div>
                            </div>
                        </div>
        
                        <div class="swiper-slide ab-col h-[60rem] w-[30rem] border border-black overflow-hidden">
                            <div class="ab-col-blocks ab-col-top
                                relative
                                flex justify-center items-center
                                w-[30rem] h-[30rem] 
                                transition-[height] duration-500 
                                bg-[#00361A]
                                overflow-hidden"
                            >
                                <img src="/land.png" alt="bmw logo" 
                                class="car absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] opacity-0 transition-[opacity] duration-500"/>   
                                <div class="logo 
                                    relative
                                    p-28
                                    rounded-full
                                    transition-[opacity] duration-500"
                                >
                                    <img src="/land-logo.svg" alt="bmw logo"
                                    class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]" />
                                </div>
                            </div>
                            <div class="ab-col-blocks
                                relative
                                flex justify-center items-center
                                w-[30rem] h-[30rem] 
                                transition-[height] duration-500 
                                bg-[#00a6ff]
                                overflow-hidden"
                            >
                                <img src="/mazda.png" alt="bmw logo" 
                                class="car absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] opacity-0 transition-[opacity] duration-500"/>   
                                <div class="logo 
                                    relative
                                    p-28
                                    rounded-full
                                    transition-[opacity] duration-500"
                                >
                                    <img src="/mazda-logo.svg" alt="bmw logo"
                                    class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]" />
                                </div>
                            </div>
                        </div>
        
                        <div class="swiper-slide ab-col h-[60rem] w-[30rem] border border-black overflow-hidden">
                            <div class="ab-col-blocks ab-col-top
                                relative
                                flex justify-center items-center
                                w-[30rem] h-[30rem] 
                                transition-[height] duration-500 
                                bg-[#faebd7]
                                overflow-hidden"
                            >
                                <img src="/mini.png" alt="bmw logo" 
                                class="car absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] opacity-0 transition-[opacity] duration-500"/>   
                                <div class="logo 
                                    relative
                                    p-28
                                    rounded-full
                                    transition-[opacity] duration-500"
                                >
                                    <img src="/mini-logo.svg" alt="bmw logo"
                                    class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]" />
                                </div>
                            </div>
                            <div class="ab-col-blocks
                                relative
                                flex justify-center items-center
                                w-[30rem] h-[30rem] 
                                transition-[height] duration-500 
                                bg-[#9d867f]
                                overflow-hidden"
                            >
                                <img src="/mitsubishi.png" alt="bmw logo" 
                                class="car absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] opacity-0 transition-[opacity] duration-500"/>   
                                <div class="logo 
                                    relative
                                    p-28
                                    rounded-full
                                    transition-[opacity] duration-500"
                                >
                                    <img src="/mitsubishi-logo.svg" alt="bmw logo"
                                    class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]" />
                                </div>
                            </div>
                        </div>
                        
                        <div class="swiper-slide ab-col h-[60rem] w-[30rem] border border-black overflow-hidden">
                            <div class="ab-col-blocks ab-col-top
                                relative
                                flex justify-center items-center
                                w-[30rem] h-[30rem] 
                                transition-[height] duration-500 
                                bg-[#f9d7a9]
                                overflow-hidden"
                            >
                                <img src="/opel.png" alt="bmw logo" 
                                class="car absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] opacity-0 transition-[opacity] duration-500"/>   
                                <div class="logo 
                                    relative
                                    p-28
                                    rounded-full
                                    transition-[opacity] duration-500"
                                >
                                    <img src="/opel-logo.svg" alt="bmw logo"
                                    class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]" />
                                </div>
                            </div>
                            <div class="ab-col-blocks
                                relative
                                flex justify-center items-center
                                w-[30rem] h-[30rem] 
                                transition-[height] duration-500 
                                bg-[#2a75ff]
                                overflow-hidden"
                            >
                                <img src="/suzuki.png" alt="bmw logo" 
                                class="car absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] opacity-0 transition-[opacity] duration-500"/>   
                                <div class="logo 
                                    relative
                                    p-28
                                    rounded-full
                                    transition-[opacity] duration-500"
                                >
                                    <img src="/suzuki-logo.svg" alt="bmw logo"
                                    class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]" />
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide ab-col h-[60rem] w-[30rem] border border-black overflow-hidden">
                            <div class="ab-col-blocks ab-col-top
                                relative
                                flex justify-center items-center
                                w-[30rem] h-[30rem] 
                                transition-[height] duration-500 
                                bg-[#671010]
                                overflow-hidden"
                            >
                                <img src="/tesla.png" alt="bmw logo" 
                                class="car absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] opacity-0 transition-[opacity] duration-500"/>   
                                <div class="logo 
                                    relative
                                    p-28
                                    rounded-full
                                    transition-[opacity] duration-500"
                                >
                                    <img src="/tesla-logo.svg" alt="bmw logo"
                                    class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]" />
                                </div>
                            </div>
                            <div class="ab-col-blocks
                                relative
                                flex justify-center items-center
                                w-[30rem] h-[30rem] 
                                transition-[height] duration-500 
                                bg-[#04163d]
                                overflow-hidden"
                            >
                                <img src="/volvo.png" alt="bmw logo" 
                                class="car absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] opacity-0 transition-[opacity] duration-500"/>   
                                <div class="logo 
                                    relative
                                    p-28
                                    rounded-full
                                    transition-[opacity] duration-500"
                                >
                                    <img src="/volvo-logo.svg" alt="bmw logo"
                                    class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]" />
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

            </div>

        </div>

    </div>

</body>
</html>