<script>
    import animatedBlocks from "../../js/animated-blocks";

    window.onload = animatedBlocks();
</script>
<style lang="scss">
    html, body {
        height: 100%;
    }

    html {
        font-size: 62.5%;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated blocks</title>
</head>
<body>

    <div class="grid justify-center items-center h-full overflow-auto">
        
        <div class="flex flex-col">
            
            <ul class="text-6xl py-2">
                <li class="ab-col h-[60rem] w-[30rem] overflow-hidden">
                    <div class="ab-col-blocks ab-col-top
                        flex justify-center items-center
                        w-[30rem] h-[30rem] 
                        transition-[height] duration-500 
                        bg-blue-500"
                    >
                        <div class="logo relative p-12 bg-yellow-500 rounded-full transition-[opacity] duration-500">
                            <span class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]">1</span>
                        </div>
                    </div>
                    <div class="ab-col-blocks
                        flex justify-center items-center
                        w-[30rem] h-[30rem] 
                        transition-[height] duration-500 
                        bg-green-500"
                    >
                        <div class="logo relative p-12 bg-yellow-500 rounded-full transition-[opacity] duration-500">
                            <span class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]">2</span>
                        </div>
                    </div>
                </li>
                <li>test 2</li>
                <li>test 3</li>
                <li>test 4</li>
                <li>test 6</li>
                <li>test 7</li>
                <li>test 8</li>
                <li>test 9</li>
                <li>test 10</li>
            </ul>

        </div>

    </div>

</body>
</html>