---
---
<script>
    import MagicScrollSvg from '../../js/magic-scroll-svg.js';

    window.onload = () => MagicScrollSvg();
</script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>magic scroll svg</title>
</head>
<body>
    <div class="p-4">
        <svg width="100%" height="100%" viewBox="0 0 2293 2457" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1141 0V648H2291.5V1269.5H1V1803.5H1141V2456.5" stroke="black" stroke-width="2"/>
        </svg>
    </div>
</body>
</html>