<script>

import createSlides from "../../js/magic-scroll.js";

window.onload = () => createSlides([
    {
        animationTrigger: '#trigger1', 
        slideId: '#animate1',
        navBtnId: '#nav-btn1',
        preNavBtnId: null,
        fromColor: 'white', 
        toColor: 'green',
        fromTxt: '1',
        toTxt: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni vel impedit dignissimos nisi vitae non.',
        scrollDuration: '0%'
    },
    {
        animationTrigger: '#trigger2',
        slideId: '#animate2', 
        navBtnId: '#nav-btn2',
        preNavBtnId: '#nav-btn1',
        fromColor: 'green', 
        toColor: 'blue',
        fromTxt: '2',
        toTxt: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni vel impedit dignissimos nisi vitae non.',
        scrollDuration: '50%'
    },
    {
        animationTrigger: '#trigger3', 
        slideId: '#animate3', 
        navBtnId: '#nav-btn3',
        preNavBtnId: '#nav-btn2',
        fromColor: 'blue', 
        toColor: 'orange',
        fromTxt: '3',
        toTxt: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni vel impedit dignissimos nisi vitae non.',
        scrollDuration: '50%'
    },
    {
        animationTrigger: '#trigger4',
        slideId: '#animate4', 
        navBtnId: '#nav-btn4',
        preNavBtnId: '#nav-btn3',
        fromColor: 'orange', 
        toColor: 'red',
        fromTxt: '4',
        toTxt: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni vel impedit dignissimos nisi vitae non.',
        scrollDuration: '50%'
    },
    {
        animationTrigger: '#trigger5', 
        slideId: '#animate5', 
        navBtnId: '#nav-btn5',
        preNavBtnId: '#nav-btn4',
        fromColor: 'red', 
        toColor: 'black',
        fromTxt: '5',
        toTxt: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni vel impedit dignissimos nisi vitae non.',
        scrollDuration: '50%'
    }
]);

window.onbeforeunload =  () => window.scrollTo(0,0);

</script>
<style lang="scss">

    html {
	    font-size: 62.5%;
	}

    li {
        
        &.current {
            color: white;
        }

        &#nav-btn1.current {
            background-color: green;
        }

        &#nav-btn2.current {
            background-color: blue;
        }

        &#nav-btn3.current {
            background-color: orange;
        }

        &#nav-btn4.current {
            background-color: red;
        }

        &#nav-btn5.current {
            background-color: black;
        }

    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>magic scroll</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.0/TweenMax.min.js" integrity="sha512-PlmQiqilYxHHDW1Hw+iQ060Au6lwKNIP2yqKnVmhTYpjYTG+dIMiQq4i3dUkJzIRY3NgS9HkuvkYzZHz0WiiAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.0/plugins/ScrollToPlugin.min.js" integrity="sha512-eUDunt53hh9V/WuewCb8Xh+w3X3l88MdMGr0Ckw/NMNOtU6RGOZMFo/GEVKwj5b+si4pCN2fF3uThKVfOCF65w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js" integrity="sha512-8E3KZoPoZCD+1dgfqhPbejQBnQfBXe8FuwL4z/c8sTrgeDMFEnoyTlH3obB4/fV+6Sg0a0XF+L/6xS4Xx1fUEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/animation.gsap.min.js" integrity="sha512-5/OHwmQzDSBS0Ous4/hlYoWLHd06/d2r7LdKZQVBXOA6PvOqWVXtdboiLTU7lQTGyVoKVTNkwi0ol4gHGlw5ww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

    <main class="max-w-md mx-auto">

        <nav 
            class="w-full md:w-[0]
            flex justify-center md:inline-block
            fixed top-[10%] md:top-[50%] translate-y-[-50%] z-10"
        >

            <ul 
                class="w-full max-w-xs
                px-4
                flex justify-between items-center md:inline-block"
            >
                <li 
                    id="nav-btn1" 
                    class="nav-btn current 
                    p-6 md:mb-4
                    border border-black rounded-full
                    relative"
                >
                    <a 
                        href="#trigger1" 
                        class="flex justify-center items-center
                        w-full h-full 
                        text-2xl 
                        absolute inset-0"
                    >1</a>
                </li>
                <li 
                    id="nav-btn2" 
                    class="nav-btn current 
                    p-6 md:mb-4
                    border border-black rounded-full
                    relative"
                >
                    <a 
                        href="#trigger2" 
                        class="flex justify-center items-center
                        w-full h-full 
                        text-2xl 
                        absolute inset-0"
                    >2</a>
                </li>
                <li 
                    id="nav-btn3" 
                    class="nav-btn current 
                    p-6 md:mb-4
                    border border-black rounded-full
                    relative"
                >
                    <a 
                        href="#trigger3" 
                        class="flex justify-center items-center
                        w-full h-full 
                        text-2xl 
                        absolute inset-0"
                    >3</a>
                </li>
                <li 
                    id="nav-btn4" 
                    class="nav-btn current 
                    p-6 md:mb-4
                    border border-black rounded-full
                    relative"
                >
                    <a 
                        href="#trigger4" 
                        class="flex justify-center items-center
                        w-full h-full 
                        text-2xl
                        absolute inset-0"
                    >4</a>
                </li>
                <li 
                    id="nav-btn5" 
                    class="nav-btn current 
                    p-6 md:mb-4
                    border border-black rounded-full
                    relative"
                >
                    <a 
                        href="#trigger5" 
                        class="flex justify-center items-center
                        w-full h-full 
                        text-2xl
                        absolute inset-0"
                    >5</a>
                </li>
            </ul>

        </nav>

        <div 
            id="page-box" 
            class="px-4 md:px-24
            flex flex-col justify-around text-white"
        >

            <div id="trigger1" class="h-screen w-full relative overflow-hidden">
                <div 
                    id="animate1" 
                    class="flex justify-center items-center
                    absolute left-[50%] translate-x-[-50%] translate-y-[-50%]"
                >
                    <span id="animate1-content" class="w-full p-4 text-6xl text-center">1</span>
                </div>
            </div>
    
            <div id="trigger2" class="h-screen w-full relative overflow-hidden">
                <div 
                    id="animate2" 
                    class="flex justify-center items-center
                    absolute left-[50%] translate-x-[-50%] translate-y-[-50%] p-12 rounded-full"
                >
                    <span id="animate2-content" class="w-full p-4 text-6xl text-center">2</span>
                </div>
            </div>
    
            <div id="trigger3" class="h-screen w-full relative overflow-hidden">
                <div 
                    id="animate3" 
                    class="flex justify-center items-center
                    absolute left-[50%] translate-x-[-50%] translate-y-[-50%] p-12 rounded-full"
                >
                    <span id="animate3-content" class="w-full p-4 text-6xl text-center">3</span>
                </div>
            </div>
    
            <div id="trigger4" class="h-screen w-full relative overflow-hidden">
                <div 
                    id="animate4" 
                    class="flex justify-center items-center
                    absolute left-[50%] translate-x-[-50%] translate-y-[-50%] p-12 rounded-full"
                >
                    <span id="animate4-content" class="w-full p-4 text-6xl text-center">4</span>
                </div>
            </div>
    
            <div id="trigger5" class="h-screen w-full relative overflow-hidden">
                <div 
                    id="animate5" 
                    class="flex justify-center items-center
                    absolute left-[50%] translate-x-[-50%] translate-y-[-50%] p-12 rounded-full"
                >
                    <span id="animate5-content" class="w-full p-4 text-6xl text-center">5</span>
                </div>
            </div>
    
        </div>

    </main>

</body>
</html>