<script>
    import masonry from '../../js/masonry.js';

    window.onload = () => masonry();
</script>
<style lang="scss" is:global>
    html {
        font-size: 62.5%;
    }
    .grid-sizer, .main-list_item {
        width: 25%;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>masonry</title>
</head>
<body>
    <div class="main-list">
        <div class="grid-sizer"></div>
        <div class="main-list_item text-3xl p-4 border border-black">1- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit officia placeat, tempora atque id reprehenderit?</div>
        <div class="main-list_item text-3xl p-4 border border-black">2- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem tenetur a deleniti, quaerat velit saepe non dignissimos quisquam magnam voluptates sunt porro possimus id praesentium?</div>
        <div class="main-list_item text-3xl p-4 border border-black">3- Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, libero ipsum. Voluptatum!</div>
        <div class="main-list_item text-3xl p-4 border border-black">4- Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias</div>
        <div class="main-list_item text-3xl p-4 border border-black">5- Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, neque placeat ea nostrum ad in, id ipsam rerum architecto asperiores maxime iure assumenda suscipit. Quos voluptatem atque dolores sed vel commodi cumque animi ipsum?</div>
        <div class="main-list_item text-3xl p-4 border border-black">6- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel aut sint praesentium doloribus unde aperiam eligendi iste enim? Modi, ducimus!</div>
        <div class="main-list_item text-3xl p-4 border border-black">7- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, perspiciatis.</div>
        <div class="main-list_item text-3xl p-4 border border-black">8- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad nulla dolorum optio dolor?</div>
        <div class="main-list_item text-3xl p-4 border border-black">9- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem tenetur a deleniti, quaerat velit saepe non dignissimos quisquam magnam voluptates sunt porro possimus id praesentium.</div>
        <div class="main-list_item text-3xl p-4 border border-black">10- Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, quisquam quia.</div>
    </div>
</body>
</html>