<script>
    import init from "../../js/masonry.js";

    window.onload = () => init();
</script>
<style lang="scss" is:global>
    html {
        font-size: 62.5%;
    }

    html, body, #page-layout {
        height: 100%;
    }
    .grid-sizer,
    .main-list_item {
        width: 100%;

        @media screen and (min-width: 768px) {
            width: 50%;
        }

        @media screen and (min-width: 992px) {
            width: calc(100% / 3);
        }

        @media screen and (min-width: 1200px) {
            width: 25%;
        }

        h1 {
            font-size: clamp(32px, calc(2rem + ((1vw - 3.2px) * 1.2277)), 37.5px);
            line-height: 3.2rem;
        }
    }
    .lds-dual-ring {
        display: inline-block;
        width: 80px;
        height: 80px;
    }
    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid black;
        border-color: black transparent black transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>masonry</title>
    </head>
    <body>

        <div id="page-layout" class="grid items-center">

            <div id="page-box" class="w-full flex flex-col items-start">
                <div class="main-list w-full">
                    <div class="grid-sizer"></div>
                </div>
                <div class="spinner w-full flex justify-center py-4 overflow-hidden">
                    <div class="lds-dual-ring"></div>
                </div>
            </div>

        </div>

    </body>
</html>
