<script>
    import init from '../../js/masonry.js';

    window.onload = () => init();
</script>
<style lang="scss" is:global>
    html {
        font-size: 62.5%;
    }
    .grid-sizer, .main-list_item {
        width: 25%;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>masonry</title>
</head>
<body>
    <div class="main-list">
        <div class="grid-sizer"></div>
    </div>
</body>
</html>