---
import Base from "../../layouts/base.astro";

import ContainerCenterScroll from "../../components/astro/container-center-scroll.astro";
import IconBars from "../../components/astro/assets/icon-bars.astro";
import IconSearch from "../../components/astro/assets/icon-search.astro";
import List from "../../components/astro/responsive-menu/list.astro";
---
<Base>

    <ContainerCenterScroll>

        <nav>
            <div id="nav-box" class="flex">
                <IconBars />
                <List />
                <IconSearch />
            </div>
        </nav>

    </ContainerCenterScroll>

</Base>