---
import Base from "../../layouts/base.astro";

import ContainerCenterScroll from "../../components/astro/container-center-scroll.astro";
import IconBars from "../../components/astro/assets/icon-bars.astro";
import IconSearch from "../../components/astro/assets/icon-search.astro";
import IconLogoTest from "../../components/astro/assets/icon-logo-test.astro";
---
<script>
    import loader from '../../js/loader.js';
    loader('nav-menu-page');
</script>
<Base>

    <ContainerCenterScroll>

        <nav class="p-2" x-data="navmenu">

            <div 
                id="nav-box" 
                class="grid justify-items-center 
                grid-rows-mmr grid-cols-mmc
                md:grid-rows-mtr md:grid-cols-mtc"
            >

                <div 
                    id="bars-btn" 
                    class="max-w-mmfb cursor-pointer 
                    md:hidden"
                    @click="open = !open"
                >
                    <IconBars />
                </div>

                <div 
                    id="logo" 
                    class="max-w-mml
                    md:col-start-1 md:col-end-2"
                >
                    <IconLogoTest />
                </div>

                <div 
                    id="list-links" 
                    class="w-full 
                    row-start-2 row-end-3 col-start-1 col-end-4
                    md:row-start-1 md:row-end-1 md:col-start-2 md:col-end-3"
                >
                    <ul
                        class="text-4xl text-center capitalize
                        md:!flex md:justify-end md:text-end md:!h-full"
                        x-show="open"
                        x-collapse
                        x-cloak
                    >
                        <li class="p-4 w-full">
                            <a href="#">link 1</a>
                        </li>
                        <li class="p-4 w-full">
                            <a href="#">link 2</a>
                        </li>
                        <li class="p-4 w-full">
                            <a href="#">link 3</a>
                        </li>
                        <li class="p-4 w-full">
                            <a href="#">link 4</a>
                        </li>
                        <li class="p-4 w-full">
                            <a href="#">link 5</a>
                        </li>
                    </ul>
                </div>

                <div 
                    id="search-btn" 
                    class="max-w-mmfb cursor-pointer
                    md:col-start-3 md:col-end-4"
                >
                    <IconSearch />
                </div>
                
            </div>

        </nav>

    </ContainerCenterScroll>

</Base>